<style>

</style>

<div id="page" class="content" role="document">
    <article class="grid">
        <section id="body" class="body without-sidebar" role="main">

            <section class="stack-products">
                <h2>What is TrashMap?</h2>

                TrashMap is a free application for reporting illegal trash dumps.

                <h2>Why TrashMap?</h2>

                There are 300+ illegal dumping sites in and around Bangalore.
                <ul>
                    <li>Some of these are on playgrounds meant for our kids to play</li>
                    <li>Some of these have toxic & bio-chemical dumps</li>
                </ul>
                Need we say more?

                TrashMap is a social project to,
                <ul>
                    <li>Empower you to have an impact in getting our cities cleaned</li>
                    <li>Aid our over-worked authorities by reporting such dumping sites to them</li>
                </ul>
            </section>
        </section>
    </article>
</div>

