<footer id="footer">
    <footer id="footer2">
        <section class="footer-stack-end">
            <div class="footer-wrapper">
                <span><a href="#">Privacy Policy</a> | <a href="#">User Agreement</a> | <a href="#" id="mobile_site_link">View Mobile Site</a> | <a href="/sitemap">Site Map</a></span>
                <span class="footer-stack-copyright"><span class="copyright">&copy; 2014 TrashMap, LLC. All rights reserved. <span class="trademarks">TrashMap is a registered trademark of TrashMap LLC.</span></span></span>
            </div>
        </section>
    </footer>
</footer>
