<header id="header">
    <div id="header2">
        <header>
            <section id="logo">
                <div class="header-wrapper">
                        <a href="#"><img/></a>
                        <span class="auth">

                            <% if (req.user) { %> <a href="/user/logout">Logout</a> <% } %>
                            <% if (!req.user) { %><a href="/signup" class="logo-signup">Sign Up </a><a href="/login" class="logo-signin">Log In </a><% } %>
                        </span>
                </div>
            </section>
            <section id="navigation">
                <div class="header-nav">
                    <a class="" href="#">About Us</a>
                    <a class="" href="#">Your Activities</a>
                    <a class="" href="#">Your Account</a>
                    <a class="" href="#">Analytics</a>
                    <a class="" href="#">Donate</a>
                    <a class="" href="#">Events</a>
                </div>
            </section>
        </header>
    </div>
</header>
