      <div id="marquee-area">
	       <section id="marquee">
               		<script type="text/javascript"
                       		src="/scripts/showtrashcontroller.js">
               		</script>
               		<div id="map-canvas"></div>
	       </section>
      </div>
      <div id="page" class="content" role="document">
         <article class="grid">
            <section id="body" class="body without-sidebar" role="main">
               <section class="stack-shipping">
                  <div class="stack-shipping-left">
                     <h3>
                        DOWNLOAD THE APP
                     </h3>
                     <h2 class="not-t3">
                        Download your app
                     </h2>
                  </div>
                  <div class="stack-shipping-right">
                     <section>
                        <h3>Newsletter Sign-Up</h3>
                        <form method="post" action="" target="_blank">
                           <input name="EMAIL_ADDRESS_" id="EMAIL_ADDRESS_" type="text" placeholder="Enter your email address"/>
                           <input type="submit" value="GO"/>
                        </form>
                     </section>
                     <section class="social">
                        <h3>TrashMap Community</h3>
                        <ul>
                           <li><a href="#" class="social-fb social-item" rel="nofollow" target="_blank">TrashMap on Facebook</a></li>
                           <li><a href="#" class="social-twitter social-item" rel="nofollow" target="_blank">TrashMap on Twitter</a></li>
                           <li><a href="#" class="social-pinterest social-item" rel="nofollow" target="_blank">TrashMap on Pinterest</a></li>
                           <li><a href="#" class="social-instagram social-item" rel="nofollow" target="_blank">TrashMap on Instagram</a></li>
                           <li class="fb-like-footer">
                              <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fcustomink&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
                           </li>
                        </ul>
                     </section>
                  </div>
               </section>
               <section class="stack-products">
                  <h2>
                     Find out trash locations around you
                  </h2>
                  <span>Click on a point on the map of select a region to show the trash locations within a radius of 10 Kms. You can use this data to organize clean up drives. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span> <a class="more" href="categories/">Know More...</a>
               </section>
            </section>
         </article>
      </div>

