
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }
audio[controls], canvas, video { display: inline-block; }
html { overflow-y: scroll; -webkit-tap-highlight-color: transparent; }
body { margin: 0px; }
body, button, input, select, textarea { font-family: sans-serif; }
img { border: 0px; }
a:focus { outline: dotted thin; }
a:hover, a:active { outline: 0px; }
abbr[title] { border-bottom-width: 1px; border-bottom-style: dotted; }
b, strong { font-weight: 500; }
em { font-style: normal; }
ul, ol { line-height: 1.5; }
blockquote { margin: 24px 20px; }
dfn { font-style: italic; }
mark { color: rgb(0, 0, 0); background: rgb(255, 255, 0); }
pre, code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
pre { white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q::before, q::after { content: none; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0px 0px 12px; padding: 0px 0px 0px 20px; }
dl { margin: 12px 0px; }
dd { margin: 0px 0px 0px 20px; }
nav > ul, nav > ol { list-style: none; }
figure { margin: 0px; }
form { margin: 0px; }
fieldset { margin: 0px 2px; padding: 0.35em 0.625em 0.75em; }
legend { }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; line-height: normal !important; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0px; }
th, td { padding: 0px; text-align: left; vertical-align: middle; font-weight: 300; }
html { font-size: 100%; line-height: 1.5; }
body { min-width: 960px; }
.content { width: 940px; margin-left: auto; margin-right: auto; padding-left: 10px; padding-right: 10px; }
#body { display: inline; float: left; margin-left: 20px; width: 940px; }
#sidebar + #body { display: inline; float: left; margin-left: 20px; width: 700px; }
.grid { clear: both; margin-left: -20px; zoom: 1; }
.grid::before, .grid::after { content: ''; display: table; }
.grid::after { clear: both; }
.grid .grid { width: auto; }
ol.grid, ul.grid { list-style: none; padding-left: 0px; }
#page .content { display: inline; float: left; margin-left: 20px; width: 700px; }
#page .content ol, #page .content ul { padding-left: 0px; }
body { visibility: hidden; }
.no-js body, .wf-active body, .wf-inactive body, .wf-timedout body, .ie7_html body { font-family: museo-sans, Tahoma, sans-serif; font-weight: 300; visibility: visible !important; }
h1, h2, h3, h4, h5, h6 { font-size: 16px; line-height: 24px; margin-top: 16px; margin-bottom: 12px; }
.body h1, .body h2, .body h3 { color: rgb(243, 115, 33); }
.body h4, .body h5, .body h6 { color: rgb(84, 48, 26); }
.body h1 { font-family: museo-slab, Tahoma, sans-serif; font-weight: 500; font-size: 26px; line-height: 24px; margin-top: 26px; }
.body h2 { font-family: museo-slab, Tahoma, sans-serif; font-weight: 300; font-size: 24px; line-height: 24px; margin-top: 24px; }
.body h3 { font-family: museo-sans, Tahoma, sans-serif; font-weight: 300; font-size: 20px; line-height: 24px; margin-top: 20px; }
.body h4 { font-family: museo-sans, Tahoma, sans-serif; font-weight: 500; font-size: 18px; line-height: 24px; margin-top: 18px; }
.body h5 { font-family: museo-sans, Tahoma, sans-serif; font-weight: 300; font-size: 18px; line-height: 24px; margin-top: 18px; }
.body h6 { font-family: museo-sans, Tahoma, sans-serif; font-weight: 500; font-size: 16px; line-height: 24px; margin-top: 16px; }
.body a { color: rgb(238, 53, 36); }
.body a:visited { color: rgb(238, 53, 36); }
.body a:hover { color: rgb(16, 166, 223); }
.body a:active { color: rgb(16, 166, 223); }
.body p { margin-top: 0px; margin-bottom: 24px; }
.popup .body p { margin-bottom: 12px; }
html, body { margin-top: 0px; padding-top: 0px; min-height: 100%; color: rgb(84, 48, 26); }
img, body, html { border: 0px; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0px; }
#sidebar a, .body a { color: rgb(238, 53, 36); text-decoration: none; }
#sidebar a:visited, .body a:visited { color: rgb(238, 53, 36); }
#sidebar a:hover, .body a:hover { color: rgb(16, 166, 223); }
#sidebar a:active, .body a:active { color: rgb(16, 166, 223); }
#sidebar a.current, .body a.current { color: rgb(84, 48, 26); cursor: default; outline: none; }
#sidebar .secondary, .body .secondary { color: rgb(160, 144, 134); }
#sidebar > h1:first-child, #sidebar > :first-child > h1, .body > h1:first-child, .body > :first-child > h1 { margin-top: 0px; }
input::-webkit-input-placeholder { color: rgb(160, 144, 134); }
.webkit .sg-form .file-field-field { margin-top: 12px; }
.webkit .sg-form .file-field-field .field-element { font-size: 16px; color: rgb(84, 48, 26); height: 22px; border: none; }
#header { margin-bottom: 0px; font-family: museo-sans, Tahoma, sans-serif; }
.header-wrapper { margin: 0px auto; }
#logo { overflow: hidden; text-transform: uppercase; font-weight: 500; letter-spacing: 1px; padding: 30px 10px; cursor: pointer; }
#logo .logo-main { text-align: left; }
#logo .auth { text-align: right; }
#logo ul { list-style-type: none; display: inline; padding: 0px; margin: 0px; width: 74%; }
#logo ul li { list-style-type: none; display: inline-block; float: left; font-size: 13px; font-weight: 500; }
#logo a {  color: rgb(81, 53, 41); text-decoration: none; }
#logo a:hover { color: rgb(243, 115, 33); }
.logo-help { padding: 0px 10px 0px 0px; line-height: 16px; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(215, 205, 202); }
.logo-signin { padding: 0px 0px 0px 10px; line-height: 16px; }
.nav-wrapper { width: 980px; margin: 0px auto; position: relative; }
#navigation .header-nav { margin-left: auto; margin-right: auto; width: 69%; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(242, 238, 236); }
#navigation .header-nav a { color: rgb(81, 53, 41); text-decoration: none; border-bottom-width: 4px; border-bottom-style: solid; border-bottom-color: white; padding: 0px 0px 2px; text-transform: uppercase; font-weight: 500; font-size: 14px; margin: 0px -2px 0px 56px; padding-bottom: 7px; }
#navigation .header-nav a:hover { color: rgb(243, 115, 33); }
#footer2 { overflow: hidden; color: rgb(84, 48, 26); font-family: museo-sans, Tahoma, sans-serif; margin-top: 30px; }
#footer2 input[type="text"] { border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; padding: 10px 10px 9px; margin: 0px 13px 11px 0px; border: 1px solid rgb(207, 197, 191); font-size: 13px; color: rgb(84, 48, 26); background: white; }
#footer2 input[type="text"]:hover { border: 1px solid rgb(145, 131, 120); }
#footer2 input[type="submit"] { padding: 9px 14px; vertical-align: top; color: rgb(16, 166, 223); font-size: 14px; border: 1px solid rgb(16, 166, 223); background: white; }
#footer2 input[type="submit"]:hover { color: white; border: 1px solid rgb(16, 166, 223); background: rgb(16, 166, 223); }
.footer-wrapper { width: 940px; margin: 0px auto; }
.footer-stack-end { padding: 20px 0px; text-align: center; font-size: 13px; background: rgb(236, 232, 230); }
.footer-stack-end a { color: rgb(84, 48, 26); text-decoration: none; }
.footer-stack-end a:hover { color: rgb(243, 115, 33); }
.footer-stack-end a:visited { color: rgb(84, 48, 26); }
.footer-stack-end a:visited:hover { color: rgb(243, 115, 33); }
.footer-stack-end span { display: block; padding: 5px 0px 0px; }
.footer-stack-end .copyright { font-size: 12px; display: block; padding: 15px 0px 0px; }
.fb-like-footer { position: absolute; margin: 12px 0px 0px 10px !important; }
#footer { margin-top: 36px; }
#footer .copyright { font-size: 13px; line-height: 18px; margin-top: 0px; }
#footer .copyright ul, #footer .copyright ol { line-height: 18px; }
#end_sheet .copyright { font-size: 11px; color: white; }
.footer-copyright_only #footer { margin-bottom: 6px; }
.footer-popup #footer { text-align: center; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(241, 227, 197); }
.footer-popup #footer .copyright { margin-top: 8px; padding-right: 5px; color: rgb(243, 115, 33); font-size: 13px; }
.footer-popup #footer .copyright .trademarks { display: none; }
#marquee-area hr { margin: 2px 0px 0px; border-width: 0px 0px 10px; border-bottom-style: solid; border-bottom-color: rgb(238, 53, 36); }
#marquee { height: 390px; -webkit-background-size: cover; border-bottom-width: 2px !important; border-bottom-style: solid !important; border-bottom-color: rgb(235, 230, 229) !important; background-size: cover; }
#map-canvas { height: 100%; }
.stack-shipping { text-align: left; padding: 30px 0px 20px 340px; min-height: 175px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(235, 230, 229); margin: 0px 0px 30px; overflow: hidden; }
.stack-shipping p { font-size: 14px; margin-bottom: 2px; }
.stack-shipping a, .stack-shipping a:visited, .stack-shipping .body a:visited { color: rgb(19, 158, 215); }
.stack-shipping a:hover, .stack-shipping a:visited:hover, .stack-shipping .body a:visited:hover { color: rgb(9, 133, 180); }
.stack-shipping h2 { font-size: 32px; color: rgb(58, 15, 0); margin: 0px; padding: 10px 0px 15px; }
.stack-shipping-left { width: 270px; float: left; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(224, 214, 213); padding: 0px 20px 0px 0px; margin: 20px 20px 0px 0px; min-height: 145px; }
.stack-shipping-left h2 { font-family: museo-slab, Tahoma, sans-serif; font-weight: 100; }
.stack-shipping-left h3 { font-size: 26px; font-weight: bold; color: rgb(235, 115, 32); font-family: museo-sans, Tahoma, sans-serif; padding: 0px; margin: 0px; }
.stack-shipping-right { width: 270px; float: left; margin: 22px 0px 0px; color: rgb(84, 48, 26); font-family: museo-sans, Tahoma, sans-serif; }
.stack-shipping-right input[type="text"] { border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; padding: 10px 10px 9px; margin: 0px 13px 11px 0px; border: 1px solid rgb(207, 197, 191); font-size: 13px; color: rgb(84, 48, 26); background: white; }
.stack-shipping-right input[type="submit"] { padding: 9px 14px; vertical-align: top; color: rgb(16, 166, 223); font-size: 14px; border: 1px solid rgb(16, 166, 223); background: white; }
.stack-shipping-right h2 { font-family: museo-slab, Tahoma, sans-serif; font-weight: 100; }
.stack-shipping-right h3 { font-size: 15px; padding: 0px; margin: 0px 0px 10px; font-family: museo-sans, Tahoma, sans-serif; font-weight: 100; text-transform: uppercase; color: rgb(84, 48, 26); }
.social { padding: 0px 0px 20px; }
.social ul { list-style-type: none; padding: 0px; margin: 0px; display: block; }
.social li { list-style-type: none; padding: 0px; margin: 0px 5px 0px 0px; display: inline-block; }
.social li.end { margin: 0px; }
.social-item { width: 40px; height: 40px; display: block; float: left; text-indent: -99999px; }
.social-item:hover { background-position: 50% 100%; }
.social-fb { background: url(../images/footer-social-fb.png) 50% 0% no-repeat; }
.social-twitter { background: url(../images/footer-social-twitter.png) 50% 0% no-repeat; }
.social-pinterest { background: url(../images/footer-social-pinterest.png) 50% 0% no-repeat; }
.social-instagram { background: url(../images/footer-social-instagram.png) 50% 0% no-repeat; }
.stack-products { padding: 0px 0px 20px; text-align: center; margin: 0px 0px 30px; }
.stack-products img { padding: 40px 0px 0px; }
.stack-products h2 { color: rgb(82, 53, 40); font-size: 42px; padding: 10px 0px 20px; margin: 0px 0px 15px; font-family: museo-slab, Tahoma, sans-serif; font-weight: 100; }
.stack-products span { width: 65%; margin: 0px auto 10px; display: block; }
.stack-products ul { list-style-type: none; padding: 0px 0px 0px 65px; margin: 0px; }
.stack-products li { list-style-type: none; padding: 0px; margin: 0px; display: inline-block; width: 210px; text-align: left; }
.stack-products .active-product { color: rgb(235, 115, 32) !important; }
.stack-products .active-product a { color: rgb(235, 115, 32) !important; }
.stack-products a, .stack-products a:visited { color: rgb(81, 53, 40); font-size: 16px; }
.stack-products a:hover, .stack-products a:visited:hover { color: rgb(235, 115, 32); }
a.more, a.more:visited { text-transform: uppercase; color: rgb(19, 158, 215) !important; }
a.more:hover, a.more:visited:hover { color: rgb(9, 133, 180) !important; }
.review blockquote .description .more { display: inline; visibility: hidden; }
.review #sidebar a, .review .body a { text-decoration: underline !important; }
.review #sidebar a:hover, .review .body a:hover { text-decoration: none !important; }
